@font-face{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: 
    local("Roboto"),
    url("./assets/fonts/Roboto-Regular.ttf") format('truetype');
} 

@font-face{
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: 
    local("Raleway"),
    url("./assets/fonts/Raleway-Regular.ttf") format('truetype');
} 

body {
  margin: 0;
  font-family: "Raleway", "Roboto", 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: -webkit-linear-gradient(145deg, rgb(0, 44, 189) 5%,rgb(191, 132, 218)) ;
  background-image: linear-gradient(145deg, rgb(123, 185, 255) 5%,rgb(28, 0, 185));
  background-attachment: fixed;
}

body, html {
  min-height: 100%;
  }

#root{
  min-height: 100vh;
  display: flex;
  background-image: url("./assets/images/dust.png") ;
}

.container{
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  padding: 30px 6vw 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  right: 0;
}
.header h1{
  line-height: 100%;
}

.navbar{
    display: flex;
  }
  
.nav-link{
  display: inline-block;
  color: rgb(66, 70, 129);
    text-decoration: none;
    font-size: 1.3rem;
    transition: all 0.1s ease;
    border-bottom: 2px dashed;
    padding-bottom: 2px;
  }
  .nav-link:hover{
    color: rgb(38, 40, 73);
    transform: scale(1.1);
  }

.main-section{
  margin: auto;
  padding: 2vw 3vw;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.card{
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.35);
  background-color: rgb(234, 242, 255);
  font-size: 1.5rem;
}

.apod-container{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.35);
  background-color: rgb(234, 242, 255);
}

.picture{
  width: auto;
  max-width: 80vw;
  max-height: 65vh;
  margin-bottom: -5px;
}

.picture-container{
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
}

.description-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: #fff;
  background-color: rgba(5, 5, 5, 0.5);
  padding: 15px;
  transition: all 0.3s ease;
}

.picture-container:hover .description-container{
  opacity: 100;
}

.title{
  display: block;
  margin-bottom: 20px;
}

.apods-list{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  justify-content: center;
}

.preview{
  position: relative;
  cursor: pointer;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 7px;
  border-radius: 2px;
  background-color: rgba(34, 28, 59, 0.6);
}

.preview-title, .preview-date, .preview::before{
  transition: all 0.1s ease;
}
.preview-title{
  position: absolute;
  visibility: hidden;
  color: white;
  font-size: 2rem;
  top: 0.8rem;
  width: 100%;
  text-align: center;
  margin: auto;
  display: block;
}
.preview-date{
  position: absolute;
  visibility: hidden;
  color: #999;
  bottom: .5rem;
  width: 100%;
  text-align: center;
  display: block;
}

.preview::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(5, 5, 5);
  opacity: 0;
}

.preview:hover::before{
  opacity: 50%;
}
.preview:hover{
  box-shadow: 3px 3px 15px rgba(0,0,0,0.5);
}

.preview:hover .preview-title, .preview:hover .preview-date{
  visibility: visible;
}

.preview-img{
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.section-header{
  margin-bottom: 5px;
  text-align: center;
}

.section-title{
  font-size: 2.1rem;
  color: rgb(21, 23, 65);
}
.section-details{
  font-size: 1.2rem;
}

.window{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal-image{
  max-width: 90%;
  max-height: 90%;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.appearing{
  animation: appearing .3s cubic-bezier(.02,.48,.66,.76) 0s 1;
}

@keyframes appearing{
  0%{
      opacity: 0%;
      transform: scale(0.2);
  }
  100%{
    opacity: 100%;
    transform: scale(1);
  }
}

.loader{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation-group{
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-component{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  border-radius: 50%;
  opacity: 60%;
}

.loader-component{
  animation-name: stretch;
  animation-duration: 1.2s; 
  animation-timing-function: linear; 
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
}


.loader-component:nth-of-type(1) {
      animation-delay: .05s;
  }
.loader-component:nth-of-type(2) {
  animation-delay: .1s;
}
.loader-component:nth-of-type(3) {
  animation-delay: .15s;
}
.loader-component:nth-of-type(4) {
  animation-delay: .2s;
}

@keyframes stretch {
  0% {
      transform: scale(1);
      background-color: rgb(54, 0, 153);
  }
  100% {
      opacity: 100%;
      background-color: rgb(64, 77, 255);
      transform: scale(.5) ;
  }
}

.error{
  font-size: 1.2rem;
}


.hidden{
  visibility: hidden;
}

.picker-container{
  position: relative;
  text-align: center;
}

.date-picker:invalid{
  color: red;
}

.select-section label{
  font-weight: 300;
  font-size: 1.5rem;
  height: 2.2rem;
  margin: 10px auto 20px ;
}

.picker{
  display: inline-block;
  font-size: 1.3rem;
  margin: 10px;
  padding: 10px;
  width: 220px;
  border-radius: 10px;
  height: 3rem;
  border: 2px solid rgb(38, 40, 73);
  background-color: transparent;
  background-color: rgb(234, 242, 255);
}
.picker:focus{
  outline: none;
  border-color: black;
}
