@font-face{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: 
    local("Roboto"),
    url("./assets/fonts/Roboto-Regular.ttf") format('truetype');
} 

@font-face{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: 
    local("Roboto-Medium"),
    url("./assets/fonts/Roboto-Medium.ttf") format('truetype');
} 

@font-face{
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  src: 
    local("Comfortaa"),
    url("./assets/fonts/Comfortaa-Regular.ttf") format('truetype');
} 

body {
  margin: 0;
  font-family: "Roboto", 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body, html {
  height: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  height: 80px;
  padding: 30px 6vw;
  vertical-align: middle;
  line-height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.header h1{
  line-height: 100%;
  font-family: "Comfortaa", 'Fira Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    display: flex;
  }
  
.nav-link{
    color: #000;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2rem;
    display: block;
    margin-left: 15px;
    transition: all 0.1s ease;
    border-bottom: 2px dashed;
    padding-bottom: 2px;
    border-color: transparent;
  }
  .nav-link:hover{
    color: #393758;
    border-color: #393758;
  }
  .active-link{
    border-color: #000;
  }

.main-section{
  margin: auto;
  padding: 1vw 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.date-picker label{
  margin-right: 20px;
  font-size: 1.2rem;
  line-height: 100%;
}
.date-picker{
  height: 50px;
}

.apod-container{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3vw;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
  border-radius: 5px;
  width: 600px;
}
.picture{
  width: 100%;
  height: auto;
}

.picture-container{
  margin: auto;
  border: 1px solid black;
  position: relative;
  max-height: 700px;
  overflow: hidden;
  border-radius: 5px;
}

.description-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: #fff;
  background-color: rgba(5, 5, 5, 0.5);
  padding: 15px;
  transition: all 0.3s ease;
}

.picture-container:hover .description-container{
  opacity: 100;
}

.title{
  display: block;
  margin-bottom: 20px;
}

.apods-list{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  justify-content: space-between;
}

.preview{
  position: relative;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  width: 320px;
  height: 300px;
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 5px;
}

.preview-title, .preview-date, .preview::before{
  transition: all 0.1s ease;
}
.preview-title{
  position: absolute;
  visibility: hidden;
  color: white;
  font-size: 2rem;
  top: 0.5rem;
  width: 100%;
  text-align: center;
  margin: auto;
  display: block;
}
.preview-date{
  position: absolute;
  visibility: hidden;
  color: #999;
  bottom: .5rem;
  width: 100%;
  text-align: center;
  display: block;
}

.preview::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(5, 5, 5);
  opacity: 0;
}

.preview:hover::before{
  opacity: 50%;
}
.preview:hover .preview-title, .preview:hover .preview-date{
  visibility: visible;
}

.preview-img{
  width: 100%;
  height: 100%;
}

.section-header{
  margin-bottom: 20px;
}

.section-title{
  font-family: "Comfortaa";
  font-size: 2rem;
}

hr{
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
}