@font-face{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: 
    local("Roboto"),
    url("./assets/fonts/Roboto-Regular.ttf") format('truetype');
} 

@font-face{
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: 
    local("Raleway"),
    url("./assets/fonts/Raleway-Regular.ttf") format('truetype');
} 

@font-face{
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: 
    local("Raleway"),
    url("./assets/fonts/Raleway-Medium.ttf") format('truetype');
} 

body {
  margin: 0;
  font-family: "Raleway", "Roboto", 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: -webkit-linear-gradient(125deg, rgb(191, 132, 218) 5%, rgb(0, 44, 189)) ;
  background-image: linear-gradient(125deg, rgb(191, 132, 218) 5%, rgb(0, 44, 189)) ;
  color: #040041;
}

body, html {
  min-height: 100%;
  }
#root{
  min-height: 100vh;
  display: flex;
  background-image: url("./assets/images/dust.png") ;
}

.container{
  min-height: 100%;
  min-width: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  height: 80px;
  padding: 30px 6vw;
  vertical-align: middle;
  line-height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.header h1{
  line-height: 100%;
}

.navbar{
    display: flex;
  }
  
.nav-link{
    color: #000;
    text-decoration: none;
    font-size: 1.3rem;
    display: block;
    margin-left: 15px;
    transition: all 0.1s ease;
    border-bottom: 2px dashed;
    padding-bottom: 2px;
    border-color: transparent;
  }
  .nav-link:hover{
    color: #393758;
    border-color: #393758;
  }
  .active-link{
    border-color: #000;
  }

.main-section{
  margin: auto;
  padding: 1vw 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.date-picker label{
  margin-right: 20px;
  font-family: "Roboto";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 100%;
}
.date-picker{
  position: relative;
  border: 2px dashed rgb(31, 8, 61);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}
.date-picker input{
  font-size: 1.2rem;
}

.apod-container{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
  border-radius: 5px;
  min-height: 300px;
  background-color: rgb(255, 255, 255);
  width: 600px;
}
.card{}

.picture{
  width: 100%;
  height: auto;
}

.picture-container{
  margin: auto;
  position: relative;
  max-height: 700px;
  overflow: hidden;
  border-radius: 5px;
}

.description-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: #fff;
  background-color: rgba(5, 5, 5, 0.5);
  padding: 15px;
  transition: all 0.3s ease;
}

.picture-container:hover .description-container{
  opacity: 100;
}

.title{
  display: block;
  margin-bottom: 20px;
}

.apods-list{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  justify-content: center;
}

.preview{
  position: relative;
  cursor: pointer;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 7px;
  border-radius: 3px;
  background-color: rgba(34, 28, 59, 0.438);

}

.preview-title, .preview-date, .preview::before{
  transition: all 0.1s ease;
}
.preview-title{
  position: absolute;
  visibility: hidden;
  color: white;
  font-size: 2rem;
  top: 0.8rem;
  width: 100%;
  text-align: center;
  margin: auto;
  display: block;
}
.preview-date{
  position: absolute;
  visibility: hidden;
  color: #999;
  bottom: .5rem;
  width: 100%;
  text-align: center;
  display: block;
}

.preview::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(5, 5, 5);
  opacity: 0;
}

.preview:hover::before{
  opacity: 50%;
}
.preview:hover{
  box-shadow: 3px 3px 15px rgba(0,0,0,0.5);
}

.preview:hover .preview-title, .preview:hover .preview-date{
  visibility: visible;
}

.preview-img{
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.section-header{
  margin-bottom: 20px;
  text-align: center;
}

.section-title{
  font-size: 2.1rem;
}
.section-details{
  font-size: 1.2rem;
}

hr{
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
}


.window{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal-image{
  max-width: 90%;
  max-height: 90%;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.modal-image{
  animation: appearing .5s cubic-bezier(.02,.48,.66,.76) 0s 1;
}

@keyframes appearing{
  0%{
      transform: translateY(-500px);
  }
  50%{
    transform: translateY(50px);
  }
}

.loader-container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation-group{
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-component{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  border-radius: 50%;
  opacity: 60%;
}

.loader-component{
  animation-name: stretch;
  animation-duration: 1.2s; 
  animation-timing-function: linear; 
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
}


.loader-component:nth-of-type(1) {
      animation-delay: .05s;
  }
.loader-component:nth-of-type(2) {
  animation-delay: .1s;
}
.loader-component:nth-of-type(3) {
  animation-delay: .15s;
}
.loader-component:nth-of-type(4) {
  animation-delay: .2s;
}

@keyframes stretch {
  0% {
      transform: scale(1);
      background-color: rgb(54, 0, 153);
  }
  100% {
      opacity: 100%;
      background-color: rgb(64, 77, 255);
      transform: scale(.5) ;
  }
}

.error{
  font-size: 1.2rem;
}


.hidden{
  visibility: hidden;
}

.date-picker input:invalid{
  color: red;
}

/* .date-picker input:invalid+.error_msg::after{
  content: "Invalid date";
  width: 100px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  position: absolute;
} */